/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Cinza claro */
    color: #333;
    text-align: center; /* Centraliza todo o texto */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

#timer-container {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ff8c00; /* Laranja */
}

#question-text {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center; /* Centraliza o texto da pergunta */
}

.answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.answer-label {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha o texto à esquerda */
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
    background-color: #e0e0e0; /* Cinza claro */
    width: 100%;
    max-width: 400px;
    border: 2px solid #ff8c00; /* Laranja */
    border-radius: 5px;
    text-align: left; /* Garante o alinhamento do texto à esquerda */
}

.answer-label input {
    margin-right: 10px;
}

.button, .button-exit {
    padding: 10px 20px;
    background-color: #ff8c00; /* Laranja */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    min-width: 150px; /* Largura mínima para todos os botões */
    text-align: center; /* Centraliza o texto */
    white-space: nowrap; /* Evita quebra de linha no texto */
}

.button:hover {
    background-color: #e67e22; /* Laranja escuro */
}

.hidden {
    display: none;
}

/* Estilos para resultados */
#result-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff8c00; /* Laranja */
}

#results-details {
    margin-top: 20px;
    text-align: left;
    padding: 0 10%;
    color: #333;
}

/* Estilos específicos */
.correct-answer {
    color: green;
    font-weight: bold;
}

.incorrect-answer {
    color: red;
    font-weight: bold;
}

.question-content {
    display: flex; /* Manter o flex para o texto */
    flex-direction: column; /* Colocar o texto acima da imagem */
    align-items: center; /* Centraliza horizontalmente */
    margin-bottom: 20px; /* Espaço abaixo do conteúdo */
}

/* Estilo para a imagem da pergunta */
.question-image {
    max-width: 100%; /* Ajusta a largura da imagem ao tamanho do contêiner */
    height: auto;    /* Mantém a proporção da imagem */
    display: block;  /* Faz a imagem se comportar como um bloco */
    margin: 0 auto;  /* Centraliza a imagem dentro do contêiner */
}

/* Estilo para o contêiner da imagem */
#image-container {
    width: 80%; /* O contêiner ocupa 80% da largura disponível */
    max-width: 150px; /* Limita o tamanho máximo do contêiner para telas grandes */
    margin: 0 auto; /* Centraliza o contêiner da imagem */
    overflow: hidden; /* Esconde partes da imagem que saem do contêiner */
    padding: 10px 0; /* Adiciona um pequeno espaço em volta da imagem */
}

#next-button {
    background-color: green;
    color: white; /* Cor do texto para melhor contraste */
}

.button-exit:hover {
    background-color: #c62828; /* Vermelho mais escuro ao passar o mouse */
}
